ion-toolbar {
    --background: #F7EFD2;
    ion-back-button {
        color:#000000;
        
    }
}
#gen{


    .vertical-center{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30%;
      }
 

    
       p, h3, ion-label{
        font-weight: 800;
        font-size: 20px;
        color: #010100;
        font-family: cursive;
       }

        .user-name {
        display: flex;
          flex-direction: column;
          align-items: center;
          font-weight: 800;
          font-size: 40px;
          color: #010100;
          font-family: cursive;
        }
        
    
    
          // ion-label {
          //   font-weight: 600;
          //   font-size: 17px;
          //   color: #e42a09;
          //   font-family: cursive;
          // }
          #prixtotal {
            color: #e42a09;
            font-size: 25px;
          }

         
    }
    ion-button {
        margin-top: 35px;
        height: 48px;
        font-size: 18px;
        text-transform: initial;
        border-radius: 50px;
        margin-bottom: 5px;
        box-shadow: 1px 8px 0px rgba(0, 0, 0, 0.05);
        --box-shadow: none;
        --background: #92CD28;
        --background-activated: #810081;

   
    
}

